

.footer{
    display: flex;
    justify-content: center;
    background-color: #3d3e40;
    padding: 30px 0;
    color: #c49c2d;
}

.links{
    margin: 15px 0;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.links a img{
    height: 50px;
    width: 50px;
    margin: 5px;
}